.information {
    min-height: 700px;
    &__me {
        border: solid 4px orange;
        border-radius: 5px;
        margin-right: 60px;
        float: left;
        margin-top: 120px;
    } 
    &__aboutme {
        position: relative;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        margin-top: 125px;
        z-index: 2;
        @include before_circle_2
    } 
    &__line {
        width: 665px;
        height: 3px;
        background-color: $main-color;
        margin-left: 470px;
        margin-bottom: 20px;
    }
    &__read {
        text-align: center;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        margin-top: 10px;
    }   span {
        text-decoration: underline $main-color;
    }
    &__read2 {
        text-align: center;
        color: #000;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        margin-top: 10px;
    }
    &__development {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    &__icon_1 {
        float: left;
        margin-top: 5px;
        margin-left: 13px;
        height: 40px;
    }
    &__icon_2 {
        float: left;
        margin-top: 5px;
        margin-left: 39px;
        height: 40px;
    }
    &__wrappers {
        width: 300px;
    }
    &__square {
        cursor: none;
        margin-right: 3px;
        margin-top: 25px;
        background-color: $main-color;
        border: solid black;
        border-radius: 10px;
        padding: 5px 5px 5px 5px;
        margin-top: 60px;
    }
    &__blackarrow {
        padding-top: 70px;
        display: block;
        margin: 0 auto;
    }
}
