.sidepanel {
    position: fixed;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    top: 230px;
    left: 50px;
    &__divider {
        width: 2px;
        height: 70px;
        background: #000;
    }
    img {
        transform: rotate(270deg);
        width: 40px;
        height: 40px;
    }
    &__social {
        height: 200px;
        width: 50px;
        span {
            transform: rotate(-90deg) translate(-30%,-260%);
            display: block;
            width: 200px;
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
        }
    }
}