.title {
    font-weight: bold;
    font-size: 36px;
    &_ftsz36 {
        color: #000;
        font-style: normal;
        text-align: center;
    }
    &_ftsz50 {
        color: #000;
        text-align: center;
        font-size: 50px;
        font-style: normal;
    }
    &_ftsz20 {
        color: #000;
        font-size: 20px;
        font-style: normal;
    }
    &_ftsz42 {
        color: #000;
        font-size: 42px;
        font-style: normal;
    }
    &_ftsz25 {
        color: #000;
        font-size: 25px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        margin-top: 7px;
    }
    &_ftsz25_2 {
        color: #000;
        font-size: 25px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        margin-top: 7px;
        margin-right: 15px;
    }
    &_ftsz27 {
        color: #000;
        font-size: 27px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        margin-top: 60px;
    }
    &_ftsz20 {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
    }
}