@media (max-width: 1200px) {
    .pageup {
        visibility: hidden;
    }
    .container {
        width: 992px;
    }
    .sidepanel {
        height: 450px;
        left: 5px;
        top: 225px;
        img {
            width: 35px;
            height: 35px;
        }
    } 
    .promo {
        .title_ftsz36 {
            font-size: 30px;
            &::before {
                width: 45px;
                height: 45px;
                left: 256px;
            }
        } 
        .title_ftsz50 {
            font-size: 30px;
        }
    }
    .information {
        &__development {
            padding-top: 16px;
        }
        &__me {
            margin-right: 50px;
            margin-left: 75px;
        }
        &__aboutme {
            &::before {
                left: 530px;
                width: 30px;
                height: 30px;
            }
        }
        &__read {
            font-size: 18px;
        }
        .title_ftsz42 {
            font-size: 28px;
        }
        &__line {
            width: 444px;
            margin-left: 534px;
        }
        .title_ftsz25 {
            font-size: 20px;
        }
        .title_ftsz25_2 {
            font-size: 20px;
            margin-right: 20px;
        }
        &__icon_1 {
            width: 30px;
        }
        &__icon_2 {
            width: 30px;
            margin-left: 20px;
            height: 36px;
        }
    }
    .utility {
        &__experience {
            &::before {
                left: 455px;
                width: 35px;
                height: 35px;
                top: -7%;
            }
        }
        &__wrapper {
            column-gap: 77px;
        }
    }
    .work {
        &__skills {
            &::before {
                right: 520px;
                width: 35px;
                height: 35px;
                top: -7%;
            }
        }
        &__wrapper {
            margin-left: 60px;
            grid-template-columns: repeat(4,217px);
        }
        &__ratings {
            justify-content: space-around; 
            margin-left: 60px;
            grid-template: repeat(4,minmax(70px,auto))/repeat(2,350px);
            &-item3 {
                padding-left: 245px;
            }
        }
        &-counter2 {
            margin-left: 120px;
        }
    }
    .portfolio {
        &__my {
            &::before {
                right: 545px;
                width: 40px;
                height: 40px;
            }
        }
    }
    .contact {
        &__me {
            margin-left: 60px;
            height: 681px;
            img {
                height: 662px;
            }
        }
        &__contacts {
            &::before {
                width: 40px;
                height: 40px;
                left: 717px;
            }
        }
        &__divider {
            margin-left: 608px;
            width: 355px;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,195px);
        }
        &__trigger {
            justify-content: flex-start;
        }
        &__button {
            width: 240px;
            font-size: 16px;
        }
        &__check {
            margin-right: 10px;
        }
        &__policy {
            margin-top: 5px;
            width: 120px;
            text-align: center;
            font-size: 14px;
            a {
                font-size: 12px;
            }
        }
    }
    .roma {
        background: $main-color;
        &_design {
            font-size: 5em;
        }
    }
}