@mixin before_circle {
    &:before {
        content: '';
        top: 4%;
        left: 284px;
        position: absolute;
        z-index: -1;
        width: 57px;
        height: 57px;
        border-radius: 100%;
        background-color: $main-color;
    }
}

@mixin before_circle_2 {
    &:before {
        content: '';
        top: -22%;
        left: 462px;
        position: absolute;
        z-index: -1;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: $main-color;
    }
}

@mixin before_circle_3 {
    &:before {
        content: '';
        top: -5%;
        left: 462px;
        position: absolute;
        z-index: -1;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: $main-color;
    }
}

@mixin before_circle_4 {
    &:before {
        content: '';
        top: -5%;
        left: 462px;
        position: absolute;
        z-index: -1;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: $main-color;
    }
}

@mixin before_circle_5 {
    &:before {
        content: '';
        left: 549px;
        position: absolute;
        z-index: -1;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: $main-color;
    }
}